[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "requests>=2.32.3",
    "web3>=6.0.0",
    "eth-account>=0.13.0",
    "aiohttp>=3.9.4",
]
